section {
    display: block;
}

#page>section {
    min-height: 100vh;
    position: relative;

    &:first-child {
        // min-height: 115vh;
        min-height: initial;
    }
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-cover {
    background-position: center center;
    background-size: cover;
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-gradient {
    background: linear-gradient(to top, rgba(0, 1, 0, .5) 0, rgba(51, 8, 8, .4) 75%);
}

.bg-overlay {
    background: rgba(0, 1, 0, .6);
}

.vertical-align-container {
    display: flex;
    height: 100%;
}

.vertical-align-content {
    margin: auto;
}

.p-0 {
    padding: 0;
}

.pt-0,
.py-0 {
    padding-top: 0;
}

.pr-0,
.px-0 {
    padding-right: 0;
}

.pb-0,
.py-0 {
    padding-bottom: 0;
}

.pl-0,
.px-0 {
    padding-left: 0;
}

.p-1 {
    padding: .25rem;
}

.pt-1,
.py-1 {
    padding-top: .25rem;
}

.pr-1,
.px-1 {
    padding-right: .25rem;
}

.pb-1,
.py-1 {
    padding-bottom: .25rem;
}

.pl-1,
.px-1 {
    padding-left: .25rem;
}

.p-2 {
    padding: .5rem;
}

.pt-2,
.py-2 {
    padding-top: .5rem;
}

.pr-2,
.px-2 {
    padding-right: .5rem;
}

.pb-2,
.py-2 {
    padding-bottom: .5rem;
}

.pl-2,
.px-2 {
    padding-left: .5rem;
}

.p-3 {
    padding: 1rem;
}

.pt-3,
.py-3 {
    padding-top: 1rem;
}

.pr-3,
.px-3 {
    padding-right: 1rem;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem;
}

.pl-3,
.px-3 {
    padding-left: 1rem;
}

.p-4 {
    padding: 1.5rem;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.pt-5,
.py-5 {
    padding-top: 3rem;
}

.pr-5,
.px-5 {
    padding-right: 3rem;
}

.pb-5,
.py-5 {
    padding-bottom: 3rem;
}

.pl-5,
.px-5 {
    padding-left: 3rem;
}


.m-1 {
    margin: .25rem
}

.mt-1,
.my-1 {
    margin-top: .25rem
}

.mr-1,
.mx-1 {
    margin-right: .25rem
}

.mb-1,
.my-1 {
    margin-bottom: .25rem
}

.ml-1,
.mx-1 {
    margin-left: .25rem
}

.m-2 {
    margin: .5rem
}

.mt-2,
.my-2 {
    margin-top: .5rem
}

.mr-2,
.mx-2 {
    margin-right: .5rem
}

.mb-2,
.my-2 {
    margin-bottom: .5rem
}

.ml-2,
.mx-2 {
    margin-left: .5rem
}

.m-3 {
    margin: 1rem
}

.mt-3,
.my-3 {
    margin-top: 1rem
}

.mr-3,
.mx-3 {
    margin-right: 1rem
}

.mb-3,
.my-3 {
    margin-bottom: 1rem
}

.ml-3,
.mx-3 {
    margin-left: 1rem
}

.m-4 {
    margin: 1.5rem
}

.mt-4,
.my-4 {
    margin-top: 1.5rem
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem
}

.m-5 {
    margin: 3rem
}

.mt-5,
.my-5 {
    margin-top: 3rem
}

.mr-5,
.mx-5 {
    margin-right: 3rem
}

.mb-5,
.my-5 {
    margin-bottom: 3rem
}

.ml-5,
.mx-5 {
    margin-left: 3rem
}



.black-section {
    background-color: #0f0f0f;
    color: #fff;
    padding: 50px 15px;
}

.black-section .vertical-align-container {
    height: calc(100vh - 100px);

    @media only screen and (max-width: 768px) {
        height: auto;
        // padding-top: 75px;
    }
}

.orange {
    color: #d99a2b;
}

.relative-content {
    position: relative;
    z-index: 10;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container-large {
    width: auto;
    max-width: 1400px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px) {
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.inline-photo {
    // opacity: 0;
    transform: translateY(4em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible {
    opacity: 1;
    transform: translateY(0);
}
