@use "~/assets/mindset/css/variables";
@use "sass:color";

#schedule {
    color: #fff;
    background-color: black;
    padding: 30px 20px;
    min-height: 100vh;
    position: relative;

    @media screen and (min-width: variables.$media-queries-desktop-xl) {
        padding: 30px 50px;
    }

    .flextest {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: variables.$media-queries-desktop-xl) {
            flex-direction: row;
        }
    }

    .flexBus {
        justify-content: space-around;

        @media screen and (min-width: variables.$media-queries-desktop) {
            display: flex;
            justify-content: space-between;
            margin-left: 0;

            .voieDeBus a {
                color: variables.$link-color;

                &:hover {
                    color: variables.$main-color;
                }
            }

            .voieDeBus:first-child {
                padding-right: 15px;
            }

            .voieDeBus:last-child {
                padding-left: 15px;
            }
        }
    }

    .schedule-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .div1 {
            grid-area: 1 / 1 / 2 / 4;
        }

        .div2 {
            grid-area: 1 / 4 / 2 / 6;
        }
    }

    h3,
    h4 {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .adress-event {
        display: flex;
        align-items: center;

        .icon-location-dot-solid {
            padding-right: 12px;
        }
    }

    .card-hotel {
        background-color: #fff;
        color: variables.$dark-color;

        img {
            width: 100%;
            max-width: 400px;
        }

        .card-hotel-body {
            padding: 15px;
            display: flex;
            flex-direction: column;

            p {
                width: 300px;
                text-align: center;
            }
        }
    }

    .container {
        @media screen and (min-width: variables.$media-queries-desktop) {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media screen and (min-width: variables.$media-queries-desktop-xl) {
            flex-wrap: wrap;
            flex-direction: row;
        }

        .transports {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .transport h4 {
            display: flex;
            align-items: center;

            span {
                padding-right: 12px;
            }
        }

        @media screen and (min-width: variables.$media-queries-desktop-xl) {
            .transports {
                padding-right: 80px;
            }
        }

        .transport:nth-child(2) {
            padding-right: 15px;
        }

        @media screen and (min-width: variables.$media-queries-desktop-xl) {
            .transport:last-child {
                flex: 1 0 1120px;
            }
        }

    }

    .rules ul li::before {
        content: "▪";
        color: variables.$main-color-hover;
        padding-right: 10px;
    }

    .master-plus {
        text-shadow: 2px 2px 2px #000000;

        @media screen and (min-width: variables.$media-queries-tablet) {
            font-size: 38px;
        }
    }

    .btn-ope {
        display: block;
        font-family: "Gotham Narrow Medium";
        text-shadow: 1px 1px 2px black;

        &.masterEventPlus {
            background: linear-gradient(90deg, rgba(205, 57, 66, 1) 0%, rgba(239, 212, 98, 1) 50%, rgba(205, 57, 66, 1) 100%);
            border: 3px solid #fff5e1;
            border-radius: 0%;
            text-shadow: 1px 1px 1px #322921;

            &:active,
            &:focus,
            &:hover {
                cursor: pointer;
                color: #fff;
                box-shadow: 0 0 60px rgb(242 150 39 / 60%);
            }
        }
    }

    .logo {
        width: 100%;
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    @media screen and (min-width: variables.$media-queries-desktop-4k) {
        padding-bottom: 49%;
    }
}

.map-responsive iframe {

    @media screen and (min-width: variables.$media-queries-desktop-xl) and (max-width: 1400px) {
        width: 45vw;
    }

    @media screen and (max-width: variables.$media-queries-desktop-xl) {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    @media screen and (min-width: variables.$media-queries-desktop-4k) {
        width: 48vw;
    }

}
